.contacts {
  margin: 3% auto;
  background-color: rgba(199, 200, 202, 0.8);
  color: var(--color-four);
  font-weight: 900;
  font-size: calc(0.8rem + 0.5vw);
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  font-family: "Times New Roman", Times, serif;
  gap: 25px;
}

.contacts > img {
  max-width: 100%;
}

.contacts > div {
  padding: 20px;
  background-color: rgb(240, 243, 249);
}
