.home {
  max-width: 800px;
  min-height: 900px;
  margin: 3% auto;
  background-color: rgba(199, 200, 202, 0.8);
  box-shadow: 2px 2px 30px var(--color-four);
  color: var(--color-one);
  font-weight: 900;
  font-size: calc(0.8rem + 1vw);
  padding: 25px;
  display: flex;
  flex-direction: column;

  animation: moveInBottom 0.8s;
}

.home > h1 {
  color: var(--color-three);
  font-size: calc(2.5rem + 1vw);
}

.home > p {
  line-height: 2rem;
  color: var(--color-four);
}

.home > p:last-child {
  margin-top: 100px;
  color: var(--color-three);
}
